{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "LANGUAGE_MODEL_API_KEY": "",
  "AllowedHosts": "*",
  "ClientUrl": "http://localhost:3000"
}